<meta charset="utf-8">
<div id="modal-cadastro-consulta" ng-controller="ModalAppointmentController" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" ng-click="clearFields()" aria-hidden="true">x</button>
					<h3 id="myModalLabel">{{title}}</h3>
				</div>
				<form class="col-sm-12" name="appointmentForm">
					<div class="form-group">
						<label>Paciente</label>
						
						<!-- icone para abrir modal de cadastro de pacientes -->
						<a href="">
							<i class="material-icons" title="Cadastro de paciente" type="button" ng-click="openModal('#modal-cadastro-paciente', 'Cadastro de Pacientes')">add_circle_outline</i>
						</a>
						
						<select class="form-control" ng-model="appointment.pacienteId" ng-options="resp.id as resp.nome for resp in patients" ng-required="true">
							<option value="" disabled selected style="display: none;">Selecione	o paciente..</option>
						</select>
					</div>
					
					<div class="form-group">
						<label>Data</label>
						<input type="date" ng-model="appointment.data" class="form-control" ng-required="true">
					</div>
					
					<div class="form-group">
						<label>Horário</label>
						<input ng-model="appointment.horario" class="form-control" type="time" ng-model-options="{timezone: 'GMT-0300'}" ng-required="true">
					</div>
					
					<div class="form-group">
						<label>Descrição</label>
						<textarea ng-model="appointment.descricao" class="form-control" ng-required="true"> </textarea>
					</div>
					
					<div class="form-group" ng-show="editMode">
						<label>Status</label>
						<select class="form-control" ng-model="appointment.status" ng-options="resp.id as resp.text for resp in allStatus">
							<option value="" disabled selected style="display: none;">Status</option>
						</select>
					</div>
				</form>
				
				<div class="modal-footer">
					<button type="submit" id="cadastro-consulta" class="btn btn-success" ng-disabled="appointmentForm.$invalid" ng-click="saveAppointment(appointment.status)">Salvar!</button>
					<button class="btn btn-danger" data-dismiss="modal" ng-click="clearFields()">Cancelar</button>
				</div>
			</div>
			
			<modal-treatment data="tratamento"></modal-treatment>
		
		</div>
	</div>