<div class="modal fade" ng-controller="ModalUserController" id="modal-cadastro-usuario" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="clearFields()" aria-hidden="true" >×</button>
				<h3 id="myModalLabel">{{title}}</h3>
			</div>
			<form name="usuarioForm" class="col-sm-12">
				<div class="form-group">
					<label for="usuario-nome">Nome</label>
					<input type="text" ng-model="user.nome" class="usuario-nome form-control" ng-required="true">
				</div>
			
				<div class="form-group">
					<label for="usuario-email">E-mail</label>
					<input type="text" ng-model="user.email" class="usuario-email form-control" ng-required="true">
				</div>

				<div class="form-group" ng-show="!editMode">
					<label for="usuario-senha">Senha</label>
					<input type="password" ng-model="user.senha" class="usuario-senha form-control" ng-required="true">
				</div>
			</form>
			
			<div class="modal-footer">
				<button type="submit" ng-disabled="usuarioForm.$invalid" class="btn btn-success" ng-click="cadastroUsuario()">Salvar!</button>
				<button class="btn btn-danger" data-dismiss="modal" ng-click="clearFields()">Cancelar</button>
			</div>
		</div>
	</div>
</div>
