<div class="fade" id="modal-cadastro-tratamento" ng-controller="ModalTreatmentController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="clearFields()" aria-hidden="true" >×</button>
				<h3 id="myModalLabel">Cadastro de tratamentos</h3>
			</div>
			<form class="col-sm-12">
				{{tratamento}}
				<div class="form-group">
					<label>Serviço</label>	
					
					<select class="form-control" ng-model="treatment.servicoId" ng-options="resp.servicosId as resp.nome for resp in servicos">
						<option value="" disabled selected style="display: none;">Selecione o serviço...</option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="telefone">Descrição</label>
					<textarea class="form-control telefone" type="text" id="telefone" ng-model="treatment.descricao"></textarea>
				</div>
			</form>
			<div class="modal-footer">
				<button type="submit" id="cadastro-tratamento" class="btn btn-success" ng-click="saveTreatment()">Salvar!</button>
				<button class="btn btn-danger" data-dismiss="modal" ng-click="clearFields()">Cancelar</button>
			</div>
		</div>
	</div>
</div>