<meta charset="utf-8">
<div id="modal-cadastro-paciente" ng-controller="ModalPatientController" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="clearFields()" aria-hidden="true" >×</button>
				<h3 ng-if="title == null" id="myModalLabel">Cadastro de pacientes</h3>
				<h3 ng-if="title != null" id="myModalLabel">{{title}}</h3>
			</div>
			<form class="col-sm-12" name="pacienteForm">
				<div class="form-group">
					<label for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" ng-model="paciente.nome" ng-required="true">
				</div>
				<div class="form-group">
					<label for="telefone">Telefone</label>
					<input class="form-control telefone" type="text" id="telefone" ng-model="paciente.telefone" ng-required="true">
				</div>
				<div class="form-group">
					<label for="data">Data de Nascimento</label>
					<input class="form-control data-nascimento" type="date" ng-model="paciente.dataNascimento" ng-required="true">
				</div>

				<div class="form-group">
					<label for="endereco">Endereço</label>
					<input class="form-control endereco" type="text" ng-model="paciente.endereco" ng-required="true">
				</div>
			</form>
			<div class="modal-footer">
				<button type="submit" id="cadastro-paciente" class="btn btn-success" ng-disabled="pacienteForm.$invalid" ng-click="cadastroPaciente()">Salvar!</button>
				<button class="btn btn-danger" data-dismiss="modal" ng-click="clearFields()">Cancelar</button>
			</div>
		</div>
	</div>
</div>