<div class="modal fade" id="modal-cadastro-servico" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="clearFields()" aria-hidden="true" >X</button>
				<h3 id="myModalLabel">{{title}}</h3>
			</div>
			<form class="col-sm-12" name="serviceForm">
				<div class="form-group">
					<label for="nome">Nome</label>
					<input type="text" class="form-control" ng-model="service.nome" ng-required="true">
				</div>
				
				<div class="form-group">
					<label>Descrição</label>
					<textarea class="form-control" ng-model="service.descricao"></textarea>
				</div>
			</form>
			<div class="modal-footer">
				<button type="submit" title="Não habilitado quando os campos não estão preenchidos" id="cadastro-servico" class="btn btn-success" ng-disabled="serviceForm.$invalid" ng-click="saveService()">Salvar!</button>
				<button class="btn btn-danger" data-dismiss="modal" ng-click="clearFields()">Cancelar</button>
			</div>
		</div>
	</div>
</div>