<div class="container">
    <div>
        <div class="text-center">
        	<dir-pagination-controls boundary-links="true" template-url="dirPagination.tpl.html"></dir-pagination-controls>
	    </div>
	</div>
</div>	