.grid-consultas{
  box-shadow: 2px 2px 2px 2px grey;
  background-color: #ffffff;
  margin-top: 50px;
  float: left;
}

.acesso-rapido{
  box-shadow: 2px 2px 2px 2px grey;
  background-color: #ffffff;
  margin-top: 50px;
  float: right;
}

.itens-acesso .item{
  width: 50%;
  padding: 10px;
}

.itens-acesso button{
  width: 200px;
}

.acesso-rapido > .itens-acesso > .item > .btn-acesso{
  width: 100%;
}
