* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
body {
	font-family: Arial;
	background-color: #2c3e50;
	padding: 50px;
}
.login {
	margin: 20px auto;
	width: 500px;
}
.login-screen {
	background-color: #FFF;
	padding: 20px;
	border-radius: 5px
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.app-title {
	text-align: center;
	color: #777;
}

.login-form {
	text-align: center;
}
.control-group {
	margin-bottom: 10px;
}

input {
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0;
	width: 400px;
	transition: border .5s;
}

input:focus {
	border: 2px solid #3498DB;
	box-shadow: none;
}

.btn-login {
	border: 2px solid transparent;
	background: #3498DB;
	color: #ffffff;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 400px;
	margin: 0 auto;
}

.botao-login:hover {
	background-color: #2980B9;
}

.login-link {
	font-size: 12px;
	color: #444;
	display: block;
	margin-top: 12px;
}