<!doctype html>
<html ng-app="odontoSystem">

<meta charset="utf-8">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #fff">
	<div class="menu"></div>
	<div class="container">
		<div style="margin-top:80px">
			<div>
				<span style="font-size: 24px; vertical-align: super;"> Serviços</span>
				<a href="" ng-click="openModalServico(servico, 'new')"> 
					<i class="material-icons" style="font-size: 40px" title="Cadastro de paciente" type="button">add_circle_outline</i>
				</a>

				<a href="" onClick="$('#pdf').tableExport({type:'pdf',escape:'false'});">
					<i class="material-icons" title="Impressão de relatório PDF" style="font-size: 40px">print</i>
				</a>
			</div>
		</div>
		
		<div id="list">
			<div class="table-responsive" style="margin-top: 50px">
				<table class="table table-striped" cellspacing="0">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Descrição</th>
							<th class="actions">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="servico in servicos | itemsPerPage: 10">
							<td>{{servico.nome}}</td>
							<td>{{servico.descricao}}</td>
							<td class="actions">
								<a href="" ng-click="deleteServico(servico.id)">
									<span class="material-icons"> delete </span>
								</a>
								<a href="" ng-click="openModalServico(servico, 'edit')" data-toggle="modal">
									<span class="material-icons"> edit </span>
								</a>
							</td>
						</tr>
					</tbody>	
				</table>
				<div class="loader" ng-show="isLoading"></div>
				<div class="text-warning" ng-if="servicos.length == 0 || servicos.length == 0">
					<p>Ops... Nenhum serviço cadastrado! </p>
				</div>
			</div>
			<template-pagination></template-pagination>
		</div>
		<!--  Diretiva da modal de consulta -->
	</div>
	<modal-servico data="servico"></modal-servico>
</body>
</html>
