<!doctype html>
<html ng-app="odontoSystem">

<meta charset="utf-8">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #fff">
	<div class="menu"></div>
	<div class="container">
		<div style="margin-top:80px">
			<div>
				<span style="font-size: 24px; vertical-align: super;"> Consultas</span>
				<a href="" ng-click="openModalAppointment(appointment, 'new')"> 
					<i class="material-icons" style="font-size: 40px" title="Cadastro de paciente" type="button">add_circle_outline</i>
				</a>
			
				<a href="" onClick="$('#pdf').tableExport({type:'pdf',escape:'false'});">
					<i class="material-icons" title="Impressão de relatório PDF" style="font-size: 40px">print</i>
				</a>
				
				<div id="filtro">
					<form id="formulario">
						<div>
							<label for="inicio">Data inicio:</label> 
							<input type="date" id="inicio" ng-model="inicio">
							<label for="fim">Data fim:</label>
							<input type="date" id="inicio" ng-model="fim">
							<label>Status</label>
							<select ng-model="appointment.statusFilter" ng-options="resp.id as resp.text for resp in allStatus">
								<option value="">Todos</option>
							</select>
							<button ng-click="doFilter(inicio, fim, appointment.statusFilter)" style="padding: 3px 3px 3px 3px !important;"id="btn-filter" class="btn btn-success" style="margin-top: 10px;">Pesquisar</button>
							
							<a href="" ng-click="clearFilterFields()">
								Limpar filtros
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<div id="main" style="margin-top: 50px">
			<div id="list">
				<div class="table-responsive">
					<table class="table table-striped" cellspacing="0" id="pdf">
						<thead>
							<tr>
								<th>Paciente</th>
								<th>Data</th>
								<th>Horario</th>
								<th>Status</th>
								<th class="actions">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr dir-paginate="appointment in appointments | filter: search | itemsPerPage: 10">
								<td>{{ appointment.pacienteId.nome }}</td>
								<td>{{ appointment.data | date: 'dd/MM/yyyy' }}</td>
								<td>{{ appointment.horario | date: 'HH:mm' : 'GMT-0300'}}</td>
								<td ng-if="appointment.status.id == 1">Agendada</td>
								<td ng-if="appointment.status.id == 2">Cancelada pelo paciente</td>
								<td ng-if="appointment.status.id == 3">Cancelada pelo profissional
								</td>
								<td ng-if="appointment.status.id == 4">Confirmada</td>
								<td ng-if="appointment.status.id == 5">Falta</td>
								<td ng-if="appointment.status.id == 6">Finalizada</td>
	
								<td class="actions">
									<a href="" ng-click="removeAppointment(appointment.id)">
										<span class="material-icons"> delete </span>
									</a>
									
									<a href="" ng-click="openModalAppointment(appointment, 'edit')" data-toggle="modal">
										<span class="material-icons"> edit </span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
	
					<!-- Div para mostrar mensagem, caso não exista nenhum lançamento cadastrado ou não tenha nenhum lançamento de acordo com oque foi digitado no campo de busca -->
					<div class="text-warning"
						ng-if="appointments.length == 0 || appointments.length == 0">
						<p>Ops... Nenhuma consulta agendada!</p>
					</div>
				</div>
				<template-pagination></template-pagination>
			</div>
			<modal-appointment data="appointment"></modal-appointment>
		</div>
	</div>
</body>
</html>
