.row.titulo-consultas{
  margin-top: 65px;
}	

.actions li {
  width: 40px;
}

.add{
  width: 96%;
}

.fa-plus{
  float: right;
}

#search{
	display: inline !important;
}

.btn-actions {
	font-size: 14px;
}

.btn-filter{
	padding: 3px 3px 3px 3px !important;
}