.row.titulo-consultas{
  margin-top: 65px;
}

ul {
 list-style-type:none;
 display: inline-flex;
 float: right;
 padding: 10px;
}

.top{
  width: 80%;
}

.actions li {
  width: 40px;
}

.add{
  width: 96%;
}

.fa-plus{
  float: right;
}
