    <div class="container">
    	<div ng-controller="HomeController" class="container"></div>
        <div class="grid-consultas col-sm-5 col-md-5 col-lg-5">
            <h3 class="text-center">Consultas do dia</h3>
            <table class="table" class="col-md-12">
	            <thead>
					<tr>
						<th class="col-md-4">Paciente</th>
						<th class="col-md-4">Data</th>
						<th class="col-md-4">Horario</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="consulta in consultas">
						<td>{{ consulta.pacienteId.nome }} </td>
						<td>{{ consulta.data | date: 'dd/MM/yyyy' }}</td>
						<td>{{ consulta.horario | date: 'HH:mm' : 'GMT-0300'}}</td>
					</tr>
				</tbody>
            </table>
            
            <div class="text-warning" ng-if="consultas.length == 0 || consultas.length == 0">
				<p>Ops... Nenhuma consulta agendada para o dia de hoje! </p>
			</div>
        </div> <!-- fim grid-consultas -->

        <div class="col-sm-2 col-md-2 col-lg-2"> </div>

        <div class="acesso-rapido divider col-sm-5 col-md-5 col-lg-5">
          <div class="itens-acesso">
            <h3 class="text-center">Acesso Rápido</h3>
            <div class="col-md-3 item">
              <a class="btn btn-info btn-acesso">Gerar histórico</a>
            </div>

            <div class="btn-acesso col-md-3 item">
              <a class="btn btn-warning btn-acesso" data-toggle="modal" data-target="#modal-cadastro-consulta" href="">Marcar Consulta</a>
            </div>
            
            <div class="btn-acesso col-md-3 item">
              <a class="btn btn-danger btn-acesso" data-toggle="modal" data-target="#modal-cadastro-paciente"  href="">Registrar paciente</a>
            </div>
            
            <div class="btn-acesso col-md-3 item">
              <a class="btn btn-success btn-acesso" href="" data-toggle="modal" data-target="#modal-cadastro-servico">Cadastrar Serviço</a>
            </div>
          </div>
        </div>
      </div> <!-- fim classe ROW -->