<meta charset="utf-8">
<div class="navbar navbar-default navbar-fixed-top menu-top col-md-12">
	<ul class="nav navbar-nav" style="float: right;">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" id="cadastros"> Minha conta 
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" aria-labelledby="cadastros">
				<li>
					<a href="LogoutServlet">Sair</a>
				</li>
			</ul>
		</li>
	</ul>

	<div class="container">
    <div class="navbar-header">
      <a href="main.html" class="navbar-brand">OdontoSystem</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" id="cadastros"> Cadastros <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="cadastros">
              <li>
                <a href="#!/users">Usuários</a>
                <a href="#!/patients">Pacientes</a>
                <a href="#!/services">Serviços</a>
              </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" id="cadastros"> Agendamento <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="cadastros">
              <li>
                <a href="#!/appointments">Consultas</a>
              </li>
            </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" id="cadastros"> Relatórios <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="cadastros">
            <li>
              <a href="appointment.html">Consultas</a>
              <a href="#">Histórico</a>
              <a href="#">Acompanhamento de Tratamento</a>
              <a href="#">Pacientes</a>
            </li>
          </ul>
        </li>
      </ul> <!-- FIM nav navbar-nav -->
    </div>  <!-- navbar-collapse collapse -->
  </div> <!-- FIM CONTAINER -->
  </div> <!-- FIM NAVBAR -->
